html, body, div, span, p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: sans-serif;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#header {
	width: 788px;
	padding: 6px;
	background: #CEC9C4;
}

table td {
	padding: 4px;
}